body {
	margin: 0;
	padding: 0;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

#etch-a-sketch-container {
	width: 600px;
	height: 600px;
	background-color: white;
	display: flex;
	flex-wrap: wrap;
}

.cells {
	box-sizing: border-box;
	border: 1px solid black;
}
