body {
	margin: 0;
	padding: 0px;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#etch-a-sketch-container {
	width: 600px;
	height: 600px;
	background-color: white;
	display: flex;
	flex-wrap: wrap;
}

.cells {
	box-sizing: border-box;
	border: 1px solid black;
}

.change-color {
	background-color: black;
}


.header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 25px;
}

.change-size-button {
	background-color: white;
	color: black;
	padding: 10px;
}
